.combo {
  position: relative;
  z-index: 100000;

  .blur {
    position: fixed;
    z-index: 9000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.33s;
  }

  &.open {
    box-shadow: 0 0 12px rgba(0,0,0,0.5);

    .blur {
      backdrop-filter: blur(4px);
      opacity: 1;
      pointer-events: all;
    }
  }
}

.bar {
  position: relative;
  z-index: 10001;
}

.popup {
  position: absolute;
  z-index: 10000;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
}
