@import './variables.scss';

.bar {
  position: relative;
  z-index: 10001;

  :global(.omnisearch-field-icon) {
    transition: all 0.2s;
    margin-left: 0;
  }
}

.combo {
  position: relative;
  z-index: 100000;

  .blur {
    position: fixed;
    z-index: 9000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.33s;
  }
  
  :global(.omnisearch-bar):focus-within :global(.omnisearch-field-icon),
  &.open :global(.omnisearch-field-icon) {
    margin-left: calc($spacing-x * 2);
  }

  &.open {
    .search {
      box-shadow: 0 0 12px rgba(0,0,0,0.5);
    }

    .blur {
      backdrop-filter: blur(4px);
      opacity: 1;
      pointer-events: all;
    }
  }
}

.line {
  display: flex;
}

.search {
  margin-left: 0.5em;
  position: relative;
}

.popup {
  position: absolute;
  z-index: 10000;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
}

.buttons {
  display: flex;
  position: relative;
  z-index: 9500;
}
