@import './variables.scss';

.results {
  border-radius: 0 0 $border-radius $border-radius;
  border: none;
  padding: 0 1px 1px;
  max-height: 320px;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
  pointer-events: none;
  position: relative;
  transition: opacity 0.2s;

  &:before {
    background-color: var(--header-branding-color);
    bottom: 0;
    content: ' ';
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  .result,
  .empty {
    background-color: var(--header-bg);
    position: relative;
    z-index: 10;
  }

  a.result {
    align-items: flex-start;
    color: var(--header-link-color);
    display: flex;
    margin-top: 1px;
    padding: $spacing-x $spacing-x;
    text-decoration: none;
    transition: background-color 0.1s;
    user-select: none;

    &.selected {
      background-color: var(--button-hover-bg);
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }

    &:hover {
      background-color: var(--default-button-hover-bg);
    }

    &:focus-visible {
      border: none;
      outline: none;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.modelName {
  font-weight: bold;
  text-decoration: underline;
  margin-right: $spacing-x;
}

.empty {
  background-color: var(--header-bg);
  padding: $spacing-y $spacing-x;
}
